@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

body {
    font-family: 'Playfair Display', serif;
}

.canteiner {
    width: 320px;
    padding:0 15px;
    margin-left: auto;
    margin-right: auto;

}

.posts-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    row-gap: 40px;
}

.posts-row > *{
    flex-shrink: 0;
}

.blog_posts {
    text-align: center;
    padding-top: 60px;
}

.blog_posts_p {
    color: darkgray;
    padding-top: 10px;
}

.blog {
    display: flex;
    column-gap: 10px;
}

.blog-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.blog-img img{
    height: 100%;
}

.blog_text {
    font-size: 20px;
}

.blog_text_ {
    font-size: 40px;
}

.blog_content {
    width: 195px;
}

.blog-text {
    color: darkgray;
    padding-top: 10px;
    font-size: 15px;
    padding-bottom: 11px;
}

.blog-link {
    text-decoration: none;
}

.button {
    text-align: center;
    padding-bottom: 60px;
}

.button_text {
    width: 229px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #F72464;
    border-radius: 4px;

}

@media (min-width:600px) {
    .canteiner {
        width: 600px;
    }

    .blog-img{
        width: 170px;
        height: 170px;
    }
    .blog_content{
        width: 370px;
    }
    .blog_posts {
        text-align: center;
        padding-top: 90px;
    }
    .button{
        padding-bottom: 90px;
    }
    .posts-row{
        column-gap: 30px;
    }
}
@media(min-width:900px){
    .canteiner{
        width: 900px;
    }
    .blog-img{
        width: 120px;
        height: 120px;
    }
    .blog_content{
        width: 280px;
        padding-left: 20px;
    }
    .blog_posts{
        text-align: center;
        padding-top:90px;
        padding-bottom: 60px;
    }
    .button{
        padding-top: 72px;
        padding-bottom: 90px;
    }

}
@media(min-width:1400px){
    .canteiner{
        width: 1400px;
    }
    .blog-img{
        width: 170px;
        height: 170px;
    }
    .blog_content{
        width: 370px;
        padding-left: 30px;
    }
    .blog_posts{
        text-align: center;
        padding-top:90px;
        padding-bottom: 86px;
    }
    .button{
        padding-top: 76px;
        padding-bottom: 90px;
    }
}